.root {
    box-sizing: border-box;
}


#game {
    background-color: salmon;
    height: 500px;
    display: flex;
}

.tower {
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}



.disc {
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 30%; 
}


#disc1 {
   width: 60%;
   background-color: yellow;
   
}

#disc2 {
    width: 70%;
    background-color: green;
}

#disc3 {
    width: 80%;
    background-color: blue;
 }
 
 #disc4 {
    width: 90%;
    background-color: purple;
 } 

.hold {
    width: 33%;
    display: flex;
    
    /* align-items: center; */
  }